* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.h1 @font-face {
  font-family: 'The Nautigal';
  src: url("assets/fonts/The_Nautigal/TheNautigal-Bold.ttf");
}

.img {
 width: 300px; 
 margin: 10px;
 display: block;
 margin-left: auto;
 margin-right: auto;
 border-radius: 10%;
}
.body {
  background-color: beige;
  font-family: 'Luxurious Roman', cursive;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  align-items: center;
  list-style: none;
  padding: 0 20px;
  line-height: 20px;
}
.nav-link {
  text-decoration: none;
  color: #829985;
  font-size: 17px;
  padding: 3%;
  
}

.nav-link {
  text-decoration: none;
  transition: color 0.5s;
}
.nav-item a:hover {
  color: forestgreen;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
.section {
  width: 50%;
}
@media (max-width: 768px) {
  .section{
    width: 100%;
  }
}
body {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #4d2323;
}
.section-title {
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #829985;
}
.titel {
  color: #455348;
  font-size: 25px;
}
.header, .footer, .main  {
  margin: 20px;
}
